@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');


@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}
html {
  font-size: 100vmax / 1600 * 100;
  
  // 🐰 scroll controls
  scroll-behavior: smooth;
  
  @media (max-width: 992px) {
    font-size: 60px;
  }
}
body {
  min-height: 100vh;
  color: #fff;
  font-size: 0.24rem;
  font-family: 'Philosopher', sans-serif;
  
  $anchors: 'hiking', 'camping', 'stargazing';
  @each $anchor in $anchors {
    &:has(##{$anchor}:target) {
      a[data-anchor=#{$anchor}]:before {
        opacity: 1;
        visibility: visible;
        translate: 0 0;
      }
    }
  }
}

nav {
  position: fixed;
  top: 0.3rem;
  left: 0;
  right: 0;
  width: 90%;
  margin: auto;
  padding: 0.1rem 1rem;
  box-shadow: 0 0 10px #0005;
  
  @include flexCenter;
  gap: 0.7rem;
  
  border-radius: 0.5rem;
  backdrop-filter: blur(10px);
  background-color: #fff2;
  
  overflow: hidden;
  z-index: 100;
  
  a {
    position: relative;
    display: inline-block;
    padding: 0.1rem;
    
    color: inherit;
    text-decoration: none;
    text-shadow: 0 0 5px rgba(#000, 0.8);
    letter-spacing: 2px;
    
    // star deco
    &:before {
      content: '\2605';
      position: absolute;
      right: 100%;
      
      font-family: 'Potta One', system-ui;
      font-size: 0.9em;
      
      opacity: 0;
      visibility: hidden;
      translate: 0 10px;
      transition: all 0.3s;
      
      pointer-events: none;    
    }
  }
  
  .progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.08rem;
    background-image: linear-gradient(to right, #8ad4ff, #fa7196);
    border-radius: 0.1rem;
    
    animation: progressMove linear both;
    animation-timeline: scroll(block root);
  }
}


section {
  width: 100%;
  height: 100dvh;
  padding: 0.5rem;
  @include flexCenter;
  
  background: no-repeat center / cover;
  overflow: hidden;
  
  &:target h1 {
    animation: showText 0.5s 0.5s both;
  }
  
  h1 {
    letter-spacing: 0.2rem;
    font-size: 1.7rem;
    text-transform: uppercase;
    
    mix-blend-mode: soft-light;
    text-shadow: 0 0 10px rgba(#000, 0.5);
  }
}


#hiking {
  background-image: url('https://images.unsplash.com/photo-1535515384173-d74166f26820?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MTcyNjU5ODh8&ixlib=rb-4.0.3&q=85&w=1920'); /* photo by David Gavi for Unsplash */
}

#camping {
  background-image: url('https://images.unsplash.com/photo-1565674484371-a90094649d30?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MTcyNjYwODJ8&ixlib=rb-4.0.3&q=85&w=1920'); /* Photo by Valery Sysoev for Unsplash */
}

#stargazing {
  background-image: url('https://images.unsplash.com/photo-1516257273908-f54242bd5ade?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MTcyNjU1OTh8&ixlib=rb-4.0.3&q=85&w=1920'); /* Photo by Chris Leggat for Unsplash */
}

@keyframes showText {
  from {
    opacity: 0;
    translate: 0 0.3rem;
  }
  to {
    opacity: 1;
    translate: 0 0;
  }
}

@keyframes progressMove {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}



@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');

* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body {
background:#333;
}

section {
  width:100%;
  height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
}

.c-section-title__jp {
  color:yellow;
}

.c-section-title__en {
  color:#fff;
  text-transform:uppercase;
  font-size:60px;
  font-family: 'Sigmar', cursive;
  line-height:1;
}

.c-section-title__en span {
  display:inline-block;
  transform:rotatey(90deg);
  opacity:0;
  visibility:hidden;
}

body {
  flex-direction: column;
  padding: 2rem;
  background-color: rgb(0, 0, 20);
  background-color:  #001a33!important;
}
body, .parent-container, .child-container {
  display: flex;
}
.parent-container {
  width: 100%;
  justify-content: center;
  gap: 30px 30px;
}
.child-container {
  width: 30%;
  height: auto;
  gap: 30px 30px;
  flex-direction: column;
}
.child-container img {
  transition: all 1s ease-in-out 0s;
 box-shadow: 2px 2px 20px gray, inset 2px 2px 10px lightgray;
}
.child-container img:hover {
  box-shadow: 4px 4px 25px black, inset 2px 2px 2px 10px rgb(0, 0, 20);
 
}

.greeting {
  text-align: center;
  color: lightblue;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
}
.fa-brands {
  font-size: 50px;
}
.greeting, .fa-brands {
  text-shadow: 2px 2px 10px lightgray;
  
}

@import url("https://fonts.googleapis.com/css2?family=Genos:ital,wght@1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,100,0,-25");
:root {
  --destiny-darkblue: rgba(3, 32, 76, 1);
  --destiny-silver: rgba(192, 192, 192, 1);
  --destiny-neonblue: rgba(0, 255, 255, 1);
  --destiny-grey: rgba(112, 123, 124, 1);

  --kingsman-darkchocolate: rgba(31, 21, 1, 1);
  --kingsman-gold: rgba(207, 181, 59, 1);
  --kingsman-burgundy: rgba(128, 0, 32, 1);
  --kingsman-cream: rgba(255, 253, 208, 1);
}

body {
  margin: 0;
}

#logo {
  position: relative;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  filter: drop-shadow(0px 0px 2px var(--destiny-neonblue));

  #svg_logo {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }

  #span_logo {
    position: absolute;
    color: var(--destiny-neonblue);

    font-family: "Genos", sans-serif;
    font-weight: 200;
    font-style: italic;
    font-size: 40px;
    transform: translate(-50%, -50%);
    left: 45%;
    top: 25%;
  }
}

#main_container {
  position: relative;
  height: 100vh;
  width: 100vw;

  background: linear-gradient(
      to bottom,
      rgba(3, 32, 76, 0.5) 70%,
      rgba(31, 21, 1, 1) 100%
    ),
    url("https://assets.codepen.io/11088613/echelon_back.png");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  overflow: hidden;

  #header_wrapper {
    position: absolute;
    height: 25vh;
    width: 100vw;
    left: 0;
    top: 0;

    #header_filter_part,
    #header_border_part,
    #header_content_part {
      position: absolute;
      height: 20vh;
      width: 150vh;
      left: 0;
      top: 0;
      box-sizing: border-box;
    }

    #header_filter_part {
      backdrop-filter: blur(4px);
      filter: url(#turbulence1);
      background: linear-gradient(
          to right,
          rgba(128, 0, 32, 0.25) 25%,
          rgba(31, 21, 1, 0.5) 30%
        ),
        url("https://assets.codepen.io/11088613/echelon_header_2.jpg ");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      mask: linear-gradient(90deg, rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0) 97%),
        linear-gradient(
          177.9deg,
          rgba(0, 0, 0, 1) 72.5%,
          rgba(0, 0, 0, 0) 72.5%
        );
      mask-composite: intersect;

      transform: translate(-2.5%, -15%) scale(1.04, 1.475);
    }

    #header_border_part {
      border-bottom: 3px solid var(--destiny-neonblue);
      box-shadow: -50px 2px 20px 0px var(--destiny-neonblue);
      transform: rotate(-3deg) translate(-1%, -22%);
      border-image: linear-gradient(
          93deg,
          var(--destiny-neonblue) 91%,
          rgba(255, 255, 255, 0) 99%
        )
        1;
    }

    #header_content_part {
      display: grid;
      grid-template-columns: 1fr 2fr 0.5fr;

      #buttons {
        box-sizing: border-box;
        height: 100%;
        width: 100%;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        transform: rotate(-3deg) translate(0%, -15%);
        .header_button {
          position: relative;
          border-bottom: 2px solid var(--destiny-neonblue);
          box-sizing: border-box;
          height: 60%;
          width: 80%;
          margin: auto;
          filter: drop-shadow(0px 0px 2px var(--destiny-neonblue));

          border-image: linear-gradient(
              90deg,
              rgba(255, 255, 255, 0) 1%,
              var(--destiny-neonblue) 9%,
              var(--destiny-neonblue) 91%,
              rgba(255, 255, 255, 0) 99%
            )
            1;

          .material-symbols-outlined {
            position: absolute;
            color: var(--destiny-neonblue);
            top: 60%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(3deg);
          }

          #top_symbol {
            font-size: 60px;
          }

          #experiment_symbol {
            font-size: 45px;
          }

          #new_symbol {
            font-size: 50px;
          }
        }
      }
    }
  }
}


/* ======- BODY -======*/
body {
    min-height: 100vh;
    background-color: #1a1e21;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header h1 {
    font-family: Black Ops One;
}

/* clicked link effect */
a, a:visited {
    text-decoration: none;
}

content a, content a:visited {
    text-decoration: none;
    color: black;
    font-family: Fruktur;
    font-size: 24px;
}

content a p:hover{
    background-color: yellow;
}

/* ======- FOOTER -====== */
footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0.5rem;
    background-color: #efefef;
    text-align: center;
}

/* footer text */
footer div p{
    font-family: rubik one;
    letter-spacing: 1px;
    text-transform: uppercase;
}

footer div p i.red{
    color: red;
    size: 24px;
}

/* footer text effects */
footer div p span{
    transition: background-color,color 1500ms ease;
    background-color: black;
    color: white;
}

footer div p span:hover{
    background-color:white ;
    color: black;
}

/* Footer Image Links */
footer a.github {
    -webkit-transition:color 500ms ease;
    -moz-transition:color 500ms ease;
    -o-transition:color 500ms ease;
    transition: color 500ms ease;
    font-size: 3em;
    color: rgb(13,38,54);
    padding: 10px;
    display:inline-block;
}

footer a.codepen {
    -webkit-transition:color 500ms ease;
    -moz-transition:color 500ms ease;
    -o-transition:color 500ms ease;
    transition: color 500ms ease;
    font-size: 3em;
    color: black;
    padding: 10px;
    display:inline-block;
}

/* image links hover effects */
footer a.github:hover {
    color: darkgray;
}

footer a.codepen:hover {
    color: darkgray;
}

/* Resposive Footer */
footer.mobile {
    display:none;
}

@media screen and (max-width: 400px) {
    footer.pc {
        display:none;
    }
    footer.mobile {
        display:block;
    }
    footer.mobile div p {
        font-size: 15px;
    }

}


@media (max-width: 1299px) {
  .hero_area .hero_bg_box {
    top: 0;
    left: 0;
    width: 100%;
  }

}

@media (max-width: 1120px) {}

@media (max-width: 992px) {
  .hero_area {
    min-height: auto;
  }

  .slider_section .detail-box {
    margin-bottom: 45px;
  }

  .custom_nav-container .navbar-nav {
    padding-top: 15px;
    align-items: center;
  }

  .custom_nav-container .navbar-nav .nav-item .nav-link {
    padding: 5px 25px;
    margin: 5px 0;
  }

  .footer_section .footer_bg_box img {
    -o-object-position: 10% top;
    object-position: 10% top;
  }
}

@media (max-width: 767px) {

  .about_section .img-box {
    margin-bottom: 30px;
  }

  .contact_section .form_container {
    margin-bottom: 45px;
  }

  .client_section .box {
    margin: 45px 0;
  }

  .hero_area .hero_bg_box img {
    -o-object-position: center top;
    object-position: center top;
  }
}

@media (max-width: 576px) {}

@media (max-width: 480px) {
  .slider_section .detail-box h1 {
    font-size: 2rem;
  }

  .about_section {
    border-radius: 90px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 420px) {}

@media (max-width: 376px) {}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
